<div class="container">
  <div class="row">
    <div>
      <!--<h1>Holi ♥</h1>
      {{title}}

    </div>
    <div>
      la suma de 1 + 1 es {{1+1}}
    </div>
    <div>
      el doble de 3 es {{duplicaNumero(3)}}
    </div>
    <br>
    <div>
      <h1>{{pelicula.titulo | uppercase }}</h1>

      <h2>{{pelicula.anio |date: 'dd-MMMM-yyyy' }}</h2>
      <h3>{{pelicula.precio |currency }}</h3>

    </div>-->


    <!--<app-operas-bas/>-->
     <!--<app-heroes-list/> es para invocar un componente de html
    <app-cinepolis>
    </app-cinepolis>-->
    <app-resistencias>
      
    </app-resistencias>


    <router-outlet  />
  </div>
</div>





