<h2>Resistencias</h2>

<div class="banda-container">

  <div class="banda-section">
    <label>1ra Banda:</label>
    <div class="banda-colores">
      <label *ngFor="let c of componente2.bandas" class="color-row">
        <input type="radio" name="banda1" [(ngModel)]="color1" [value]="c">
        <span class="color-item" [style.background]="c.color">{{c.nombre}}</span>
      </label>
    </div>
  </div>

  <div class="banda-section">
    <label>2da Banda:</label>
    <div class="banda-colores">
      <label *ngFor="let c of componente2.bandas" class="color-row">
        <input type="radio" name="banda2" [(ngModel)]="color2" [value]="c">
        <span class="color-item" [style.background]="c.color">{{c.nombre}}</span>
      </label>
    </div>
  </div>

  <div class="banda-section">
    <label>Multiplicador:</label>
    <div class="banda-colores">
      <label *ngFor="let m of componente2.multiplicadores" class="color-row">
        <input type="radio" name="multiplicador" [(ngModel)]="color3" [value]="m">
        <span class="color-item" [style.background]="m.color">{{m.nombre}}</span>
      </label>
    </div>
  </div>

  <div class="banda-section">
    <label>Tolerancia:</label>
    <div class="banda-colores">
      <label *ngFor="let t of componente2.tolerancias" class="color-row">
        <input type="radio" name="tolerancia" [(ngModel)]="tolerancia" [value]="t">
        <span class="color-item tolerancia">{{t.nombre}}</span>
      </label>
    </div>
  </div>

</div>

<button (click)="calcular()">Calcular</button>

<h3>Resultados</h3>
<table borde="1" style="margin-top:15px; text-align:center">
  <tr>
    <th>Color1</th>
    <th>Color2</th>
    <th>Multiplicador</th>
    <th>Tolerancia</th>
    <th>Valor</th>
    <th>Valor máximo</th>
    <th>Valor mínimo</th>
  </tr>
  <tr>
    <td [style.background]="color1.color">{{color1.nombre}}</td>
    <td [style.background]="color2.color">{{color2.nombre}}</td>
    <td [style.background]="color3.color">{{color3.nombre}}</td>
    <td>{{tolerancia.nombre}}</td>
    <td>{{valor}}</td>
    <td>{{valorMax}}</td>
    <td>{{valorMin}}</td>
  </tr>
</table>





