<h1>Lista Dragon Ball</h1>
<div class="card">
    <div class="card-header">
        Lista de heroes
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtar por:</div>
            <div class="col-md-4">
                <input [(ngModel)]="listFilter" type="text" class="form-control" placeholder="filtrar heroe">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro: {{listFilter}} </h3><!--El listfilter es un enlace vidimencional-->
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" *ngIf="heroes.length>0">
                <thead>
                    <tr>
                        <th><button (click)="showImage()" class="button" class="btn btn-primary">
                          {{muestraImg?'Oculte ':'Muestra' }}Imagen</button></th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>race</th>
                        <th>ki</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let heroe of heroes | heroesFilter:listFilter">
                        <td>
                          <img *ngIf="muestraImg" [src]="heroe.imagen" alt="{{heroe.nombre}}" width="50"> </td>
                        <td>{{heroe.nombre}}</td>
                        <td>{{heroe.descripcion}}</td>
                        <td>{{heroe.race}}</td>
                        <td>{{heroe.ki}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
